<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>FitnessPanda</title>
        <link rel="stylesheet" href="styles/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="login">
            <form action="" method="POST">
                <div class="logo-container">
                    <!-- <a>LOGO</a> -->
                    <img src="/assets/panda.png" alt="FitnessPanda - Logo" class="logo">
                </div>

                <div class="container">
                    <label for="uname"><strong>Username</strong></label>
                    <input type="text" placeholder="Enter Email" name="uname" required>

                    <label for="passw"><strong>Password</strong></label>
                    <input type="password" placeholder="Enter Password" name="passw" required>

                    <button type="submit">Login</button>

                    <label>
                        <input type="checkbox" name="remember" id=""> Remember me
                    </label>
                </div>

                <div class="container bottom">
                    <button type="button" class="signInBtn">Sign In</button>
                    <span class="passw">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>
    </body>
</html>