<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>FitnessPanda</title>
        <link rel="stylesheet" href="styles/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="login">
            <form action="" method="POST">

                <div class="container">
                    <h1 id="signUpBanner">Sign Up</h1>
                    <label for="uname"><strong>Username</strong></label>
                    <input type="text" placeholder="Enter Email" name="uname" required>

                    <label for="firstn"><strong>First Name</strong></label>
                    <input type="text" placeholder="Enter First Name" name="firstn" required>

                    <label for="lastn"><strong>Last Name</strong></label>
                    <input type="text" placeholder="Enter Last Name" name="lastn" required>

                    <label for="passw"><strong>Password</strong></label>
                    <input type="password" placeholder="Enter Password" name="passw" required>

                    <button type="submit">Sign Up</button>

                </div>

                <div class="container bottom signup">
                    <span class="account">Your already have an account? </span>
                    <a th:href="@{/login}">Login</a>
                </div>
            </form>
        </div>
    </body>
</html>